.root {
  background-color: black;
  height: 100vh;
}

.on {
  color: rgb(33, 37, 41);
  background-color: #fff;
  transition: background-color 1s;
}

.card {
  background-color: #e7f3ff;
}

.title {
  color: black;
  text-align: center;
  background-color: transparent;
}

.power-button {
  top: 30px;
  right: 20px;
  position: absolute;
}

@keyframes myAnim {
	0% {
		transform: translateY(250px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.body, .loader {
  animation: myAnim 1s ease 0s 1 normal forwards;
}

.center {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.cursor-pointer {
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 576px) {
  .power-button {
    top: 0px;
    right: 0px;
    position: relative;
  }
}
